.App {
  text-align: center;
}
.flex-box {
  display: flex;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
.texto {
  margin: 10px 300px 10px;
  justify-content: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.images {
  display: flex;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
